* {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 900px;
	margin: 100px 10px;
}

form {
	display: grid;
	justify-content: center;
	margin: auto;
	gap: 10px;
}

select {
	padding: 5px 10px;
	border-radius: 5px;
}

button {
	background-color: tomato;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	color: aliceblue;
}
